image: node:latest

stages:
  - build
  - deploy

build:
  stage: build
  before_script:
    - npm install --silent -g elm
    - make install
  script:
    - make

deploy_production:
  stage: deploy
  type: deploy
  only:
    - master
  before_script:
    - npm install --silent -g elm surge
    - make install
  script:
    - make deploy
  environment:
    name: production
    url: http://ms.fullyforged.com
