@import "bourbon/bourbon";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$black: #282830;
$gray: #60646D;
$light-gray: rgb(237, 241, 242);
$white: #FFFFFF;
$main-font: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

$small-size: 0.8em;
$base-size: 1em;
$medium-size: $base-size * 1.5;
$big-size: $base-size * 2;

$fg-primary-color: $black;
$fg-secondary-color: $gray;
$bg-color: $white;
$bg-secondary-color: $light-gray;

ul, figure {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

input, p, h1 {
  font-family: $main-font;
}

body {
  background-color: $bg-color;
}

nav {
  @include display(flex);
  @include justify-content(center);
  margin-top: $medium-size;

  input[name="q"] {
    $input-size: $base-size;

    background-color: $bg-secondary-color;
    padding: $input-size/2 $input-size;
    font-size: $input-size;
    min-width: 20em;
    color: $fg-primary-color;
    border: none;
  }
}

.albums {
  $item-size: 12em;

  @include display(flex);
  @include justify-content(center);
  margin-top: 2em;

  h1 {
    color: $white;
  }

  ul {
    @include display(flex);
    @include flex-wrap(wrap);
    max-width: $item-size * 6;
  }

  li {
    width: $item-size;
    list-style-type: none;
    color: $white;

    figure {
      margin: 0.5em;
      position: relative;
    }

    figcaption {
      position: absolute;
      right: 0;
      bottom: 0.25em;

      .arrow {
        position: absolute;
        right: -1px;
        bottom: 0;
        border-style: solid;
        border-width: 0 0 5em 5em;
        border-color: transparent transparent $black transparent;
        z-index: 1;
      }

      .links {
        width: 3em;
        text-align: right;
        padding: 0.5em;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;

        a {
          color: $white;
          margin-left: 0.4em;
        }
      }
    }

    img {
      width: $item-size - 1;
      height: $item-size - 1;
      border: 1px solid $gray;
    }

    .meta {
      margin: 0.5em;
      color: $fg-secondary-color;

      p {
        margin: 0;
      }
    }

    .artist {
      font-size: $base-size;
    }

    .title {
      font-size: $small-size;
    }
  }
}
