@import "bourbon/bourbon";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

$black: #282830;
$gray: #60646D;
$light-gray: rgb(237, 241, 242);
$white: #FFFFFF;
$main-font: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$red: #96281B;
$light-red: #F1A9A0;

$small-size: 0.8em;
$base-size: 1em;
$medium-size: $base-size * 1.5;
$big-size: $base-size * 2;

$fg-primary-color: $black;
$fg-secondary-color: $gray;
$bg-color: $white;
$bg-secondary-color: $light-gray;

$bg-error: $light-red;
$fg-error: $red;

ul, figure, figcaption {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

input, p, h1 {
  font-family: $main-font;
}

body {
  background-color: $bg-color;
  height: 100vh;
  margin: 0;
}

main {
  @include display(flex);
  @include flex-direction(column);
  min-height: 100%;
}

footer {
  text-align: center;

  a {
    text-decoration: none;
    color: $fg-secondary-color;
  }

  .primary {
    margin: 0.5em;
    font-size: $base-size;
  }

  .secondary {
    margin: 0.2em;
    font-size: $small-size;
  }
}

nav {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  margin-top: $medium-size;

  input[name="q"] {
    $input-size: $base-size;

    background-color: $bg-secondary-color;
    padding: $input-size/2 $input-size;
    padding-left: $input-size + 1em;
    font-size: $input-size;
    min-width: 20em;
    color: $fg-primary-color;
    border: none;
  }

  .fa-search {
    margin-right: -1.5em;
    color: $fg-secondary-color;
    z-index: 1;
  }

  select {
    margin-left: 1em;
  }
}

.errors {
  @include display(flex);
  @include justify-content(center);
  margin: 2em;
  border: 1px solid $fg-error;
  background-color: $bg-error;
  color: $fg-error;
  border-radius: 2px;
}

.no-results {
  text-align: center;
}

.albums {
  $item-size: 12em;

  @include display(flex);
  @include justify-content(center);
  @include flex-grow(1);
  margin-top: 2em;

  .background-icon {
    margin-top: 2em;
    color: $light-gray;
    font-size: $base-size * 4;
  }

  h1 {
    color: $fg-secondary-color;
  }

  ul {
    @include display(flex);
    @include justify-content(center);
    @include flex-wrap(wrap);
    max-width: $item-size * 6;
    padding: 0;
  }

  li {
    width: $item-size;
    list-style-type: none;
    color: $white;

    figure {
      margin: 0.5em;
    }

    figcaption {
      .links {
        width: $item-size - 2em;
        display: inline-block;
        background-color: $black;
        text-align: right;
        padding: 0.5em;
        border: 1px solid $black;

        a {
          color: $white;
          margin-left: 0.4em;
          font-size: $medium-size;
        }
      }
    }

    img {
      width: $item-size - 1;
      height: $item-size - 1;
      border: 1px solid $gray;
      margin-bottom: -3em;
    }

    .meta {
      margin: 0.5em;
      color: $fg-secondary-color;

      p {
        margin: 0;
      }
    }

    .artist {
      font-size: $base-size;
    }

    .title {
      font-size: $small-size;
    }
  }
}

.spinner {
  $spinner-color: $gray;

  margin: 100px auto;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 10px;
  > div {
    background-color: $spinner_color;
    height: 100%;
    width: 6px;
    display: inline-block;
    margin: 0 3px 0 0;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  .rect2 {
    animation-delay: -1.1s;
  }
  .rect3 {
    animation-delay: -1.0s;
  }
  .rect4 {
    animation-delay: -0.9s;
  }
  .rect5 {
    animation-delay: -0.8s;
  }
}
@-webkit-keyframes sk-stretchdelay {
  0% {
  }
  40% {
  }
  100% {
  }
  20% {
  }
}
@keyframes sk-stretchdelay {
  0% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scaleY(0.4);
  }
  40% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scaleY(0.4);
  }
  100% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scaleY(0.4);
  }
  20% {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: scaleY(1.0);
  }
}

@media (max-width: 768px) {
  nav input[name="q"] {
    min-width: 12em;
  }

  .albums {
    font-size: 0.8em;

    li {
      width: 100%;

      figure {
        @include display(flex);
        @include align-items(flex-end);
      }

      img {
        width: 6em;
        height: 6em;
        margin-bottom: 0;
      }

      figcaption {
        @include flex-grow(1);
        @include display(flex);
        @include flex-direction(column);

        .links {
          width: auto;
          @include order(2);
          border: 0;
        }

        .meta {
          @include order(1);
        }

      }
    }
  }
}
